<main>
    <h2>view 2</h2>
    <section>
	<div class="row">
	<div class="col col-50">
        <div class="panel" id="panelsocial">
            <div class="panel-header">
                <h4 class="panel-title"> Users </h4>
                <ct-paneltool class="panel-tools" tool-refresh="load1" tool-expand="tool-expand" tool-dismiss="tool-dismiss"></ct-paneltool>
            </div>
			<div uib-collapse="panelsocial" ng-init="panelsocial=false" class="panel-wrapper">
            <div class="panel-body">
				<p>This is directive to refresh and expand boxes try to click on cercel icon or expand icon</p>
            </div>
			</div>
        </div>
		</div>
		<div class="col col-50">
		</div>
		</div>
    </section>
</main>
