body{
	background-color:#eaeaea;
}
header{
	background-color:#ffc7c7;
    position: relative;
}
main{
	background-color:#daebff;
}
footer{
	background-color:#ffc7c7;
}
section{
	background-color: #c3ffe4;
	padding:10px 0;
    border-bottom: 1px solid #000;
}
nav{
	background-color:#f4ff4e;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
}